/* 2.2 - Default Color - start
================================================== */
.bg_default_red {background-color: $default_red;}
.bg_default_blue {background-color: $default_blue;}
.bg_default_color {background-color: $default_color;}
.bg_default_black {background-color: $default_black;}
.bg_default_yellow {background-color: $theme-color;}
.bg_default_orange {background-color: $default_orange;}
/* 2.2 - Default Color - end
================================================== */